<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="logsPath" value="C:\temp\logs\report_logs.log"/>
    <add key="ReportsPath" value="C:\temp\reports\"/>
    <add key="ScheduleIntervalMinutes" value="1"/>
  </appSettings>
</configuration>